body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    background-color: black;
    position: relative;
}

#bottom {
    background-color: rgb(0, 255, 38);
    position: absolute;
}

#lander {
    background-color: rgb(255, 0, 251);
    position: absolute;
}
